/* LibraryItem.css */
.libraryItem {
    text-align: center;
    display: inline-block; 
}

.bookCover:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.bookTitle {
    font-size: 20px;
    margin: 10px 0px;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.02);
}

.bookPage {
    margin: 0px 0px 10px 0px;
    color: rgb(54.2%, 54.2%, 54.2%);
}

.bookButton {
    width: 100%;
    width: 200px !important;
    margin: 0px 0px 10px 0px;
}

.bookCover {
    background: rgba(255, 255, 255, 1.0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    width: 200px;
    height: 160px; 
    border-radius: 4px;
    margin: 10px;
    padding: 10px 0px; 
}

.libraryItem a {
    color: royalblue;
}

.libraryItem a:hover {
    color: darkblue;
    text-decoration: none;
}

.libraryItem .libraryItemEdit {
    color: royalblue;
}

.libraryItem .libraryItemEdit:hover {
    color: darkblue;
    text-decoration: none;
}

.libraryItem .select {
    color: red !important;
}

.progress-text {
    font-size: 10px;
    color: gray !important;
}

.restBar {
    background: rgb(211, 211, 211) !important;
}