.library-main {
    margin: 2rem 0rem 2rem 0rem;
    box-sizing: border-box; 
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 

    max-width: 800px !important;
}

.library-edit-button {
    font-family: 'PingFang TC', 'Arial', 'LiHei Pro', 'Microsoft JhengHei';
    align-items: center;
    justify-content: center; 
    display: inline-block; 
    margin: 0px 10px 20px 10px;
    width: 200px !important;
}

.library-button-panel {
    width: 100%;
}

.library-noRecord-outter {
    min-height: 200px;  
    max-width: 800px !important;
    color: white;
    text-align: center;
}

.library-noRecord-outter .library-noRecord-inner {
    background: rgba(255, 255, 255, 0.4);
    padding: 90px 3rem 90px 3rem;
    border-radius: 10px;
    font-size: 20px;
}
