/* Main.css */
* {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.blur {
    position: relative;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.blur:after {
    z-index: -1;
    content: '';
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: url('image/background.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    margin: -30px;
    filter: blur(12px);
}

.reader-bg {
    font-family: 'PingFang TC', 'Arial', 'LiHei Pro', 'Microsoft JhengHei';
    background-image: url('image/background.jpeg');
    min-height: 100vh;
    min-height: 300px;
    min-width: 270px;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

.bg-light {
    z-index: 5;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}

.main .search i {
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
}

.main .search i:hover {
    color: #5bc0de;
}

#root {
    min-height: 100vh;
}

.main .footer {
    /* position: fixed; */
    width: 100%;
    /* background: rgba(255, 255, 255, 0.3); */
    text-align: center;
    color: rgba(255, 255, 255, 1.0);
    padding: 1rem 2rem 1rem 2rem;
}

.main .search {
    position: relative;
    width: 200px;
}

.main .search input {
    padding-right: 1.5rem;
}

.main .search i {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
}

.main .search i:hover {
    color: #5bc0de;
}

/********** Loading Animation **********/
.main-loading {
    background: #FFFFFF;
    padding: auto;
    text-align: center;
    line-height: 100vh;
    font-size: 60px;
    transition-duration: 1s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.loading-normal {
    color: royalblue;
}

.loading-hide {
    opacity: 0;
}

/********** Show current book title **********/
.main-showReadingBook {
    text-align: center;
    width: 200px;
    overflow: hidden;
    margin-left: auto;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: rgb(240, 240, 240);
    color: rgb(124, 124, 124);
}
