.reading-noRecord-outter {
    min-height: 200px;  
    color: white;
    text-align: center;
}

.reading-noRecord-outter .reading-noRecord-inner {
    margin: 2rem 1rem 0rem 1rem;
    padding: 90px 3rem 90px 3rem;
    border-radius: 10px;
    font-size: 20px;
}

@media (min-width: 990px) {
    .reading-noRecord-outter {
        max-width: 720px !important;
    }
}

#readingFrame {
    z-index: 1;
    position: fixed;
    top: 56px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#readingLeftButton {
    background: rgba(0, 255, 255, 0);
    width: 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}

#readingRightButton {
    background: rgba(255, 255, 255, 0);
    width: 50%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}

.reading-content-enpty-div {
    position: relative;
}

.reading-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    position: absolute;
    right: -40px;
    text-align: center;
    line-height: 40px;
    z-index: 100;
    font-size: 20px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.reading-icon-chapter {
    bottom: 185px;
    color: rgb(124, 72, 38);
}

.reading-icon-chapter:hover {
    color: white;
    background: rgb(124, 72, 38);;
}

.reading-icon-chapter:active {
    color: rgb(180, 180, 180);
}

.reading-icon-jump {
    bottom: 142px;
    color: black;
}

.reading-icon-jump:hover {
    color: white;
    background: black;
}

.reading-icon-jump:active {
    color: rgb(180, 180, 180);
}

.reading-icon-bookmark {
    bottom: 42px;
    color: rgb(177, 0, 0);
}

.reading-icon-bookmark:hover {
    color: white;
    background: rgb(177, 0, 0);
}

.reading-icon-bookmark:active {
    color: rgb(180, 180, 180);
    background: rgb(134, 0, 0);
}

.reading-icon-addBookmark {
    bottom: 92px;
    color: rgb(44, 133, 71);
}

.reading-icon-addBookmark:hover {
    color: white;
    background: rgb(44, 133, 71);
}

.reading-icon-addBookmark:active {
    color: rgb(180, 180, 180);
    background: rgb(33, 100, 53);
}

.reading-progress {
    position: absolute !important;
    width: 50px;
    height: 25px;
    line-height: 25px;
    border-radius: 4px;
    bottom: 7px;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    right: -45px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 100;
}
