.reading-noRecord-outter {
    min-height: 200px;  
    max-width: 800px !important;
    color: white;
    text-align: center;
}

.reading-noRecord-outter .reading-noRecord-inner {
    background: rgba(255, 255, 255, 0.4);
    margin: 2rem 1rem 0rem 1rem;
    padding: 90px 3rem 90px 3rem;
    border-radius: 10px;
    font-size: 20px;
}

#readingLeftButton {
    background: rgba(0, 255, 255, 0);
    /* height: 100%; */
    width: 50%;
    position: absolute;
    top: 56px;
    bottom: 0px;
    left: 0px;
    z-index: 3;
}

#readingRightButton {
    background: rgba(255, 255, 255, 0);
    /* height: 100%; */
    width: 50%;
    position: absolute;
    top: 56px;
    bottom: 0px;
    right: 0px;
    z-index: 3;
}

.reading-content-enpty-div {
    position: relative;
}

.reading-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    position: absolute;
    right: -40px;
    text-align: center;
    line-height: 40px;
    z-index: 100;
    font-size: 20px;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.reading-icon-chapter {
    bottom: 135px;
    color: rgb(124, 72, 38);
}

.reading-icon-chapter:hover {
    color: white;
    background: rgb(124, 72, 38);;
}

.reading-icon-jump {
    bottom: 85px;
}

.reading-icon-jump:hover {
    color: white;
    background: black;
}

.reading-icon-bookmark {
    bottom: 35px;
    color: rgb(177, 0, 0);
}

.reading-icon-bookmark:hover {
    color: white;
    background: rgb(177, 0, 0);
}
