.setting-outter {
	min-height: 200px;
	position: fixed;
	top: 56px;
	bottom: 0px;
	left: 0px;
	right: 0px;  
	overflow: scroll;
}

.setting-outter .setting-inner {
    margin: 2rem 1rem 0rem 1rem;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
}

@media (min-width: 990px) {
	.setting-outter {
		max-width: 720px !important;
	}
}

.Blur {
	position: relative;
	background: rgb(255,255,255);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	z-index: 2;
}

.Blur:after {
	z-index: -1;
	content: '';
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
	margin: -30px;
	filter: blur(12px);
}

/************** check list style **************/
.checklist-check {
	color: rgb(105, 75, 0) !important;
	background: #FCF6E1;
}

.checklist-check:hover {
	color: rgb(105, 75, 0) !important;
	background: #E9E3D2;
}

.checklist-check:active {
	color: rgb(105, 75, 0) !important;
	background: rgb(212, 206, 187);
}

.checklist-uncheck {
	color: #DFDEDE;
	background: #8A8A8A;
}

.checklist-uncheck:hover {
	color: #DFDEDE;
	background: #747373;
}

.checklist-uncheck:active {
	color: #DFDEDE;
	background: #5f5f5f;
}

.checklist-style {
	border-radius: 3px;
	padding: 0.5rem 2rem 0.5rem 2rem;
	font-size: 18px;
	transition-duration: 0.3s;
}
/* no selection */
.ns {
	-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

/************** setting block style **************/
/* setting block */
.sb {
	padding: 0.5rem 0rem 0.5rem 0rem;
	font-size: 18px;
	transition-duration: 0.3s;
	color: rgb(105, 75, 0);
	background: #FCF6E1;
	text-align: center;
}
/* setting block preview */
.sbp {
	padding: 1rem;
	border-radius: 3px;
	transition-duration: 0.3s;
	background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat; 
	background-size: cover;
}
/* setting block with no hover */
.sbnh {
	padding: 0.5rem 0rem 0.5rem 0rem;
	font-size: 18px;
	transition-duration: 0.3s;
	color: rgb(105, 75, 0);
	background: #FCF6E1;
	text-align: center;
}

.sb:hover {
	color: rgb(105, 75, 0);
	background: #E9E3D2;
}

.sb:active {
	color: rgb(105, 75, 0);
	background: rgb(212, 206, 187);
}

.sbtl {
	border-top-left-radius: 3px;
}

.sbtr {
	border-top-right-radius: 3px;
}

.sbbl {
	border-bottom-left-radius: 3px;
}

.sbbr {
	border-bottom-right-radius: 3px;
}
